<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="QA Playground" verbose="4" thread-count="2" parallel="tests">
    <test name="Dynamic Table Test">
        <classes>
            <class name="qaplayground.DynamicTableTest" />
        </classes>
    </test>
</suite>
